.product-card {
   @apply flex flex-col items-center w-[18rem] gap-8 bg-white p-8 rounded-[5px];
   box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.5);
}
.image{
    @apply h-[15rem] w-[15rem];
}
.image img {
    @apply w-[100%] h-[100%] object-contain;
}
.paragraphs {
    @apply flex items-center gap-4 border rounded-[3rem] py-2 px-4;
}
.title{
    @apply font-bold text-[1rem] ;
}
.price{
    @apply text-base font-medium bg-[#2664ec] text-white p-2 rounded-[20px];
}